{% extends 'base.html' %}

{%load static%}

{% block title %}
<title>Contact Us  - Taskmate</title>

{% endblock title %}
{% block content %}


    <section class="contactus-one" id="contactus">
    <!-- Section id-->
        <div class="container">
            <div class="row">
            	
              <!--Grid column-->
              <div class="col-sm-12 col-md-7">
                <!--Google map-->
                <div class="mb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d847627.2483376613!2d18.09558250226681!3d-33.9142686977596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc500f8826eed7%3A0x687fe1fc2828aa87!2sCape%20Town!5e0!3m2!1sen!2sza!4v1637493126672!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <!--Buttons-->
              </div>
              <!--Grid column-->

            	<div class=" col-md-5 col-sm-6">
                	<div class="contact-block">
                        <div class="dart-headingstyle-one dart-mb-20">  
                        <!--Style 1-->
                          <h2 class="dart-heading">Contact US</h2>
                        </div>
                        
                        <div class="contact-form">
                        <!-- contact form -->
                        {% csrf_token %}
                            <form class="row" action="send_email.php" id="contact" name="contact" method="post" >
                              <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Your Name" required >
                              </div>
                              <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="InputEmail" id="InputEmail" placeholder="Your Email" required >
                              </div>
                              <div class="form-group col-md-12">
                                <input type="text" class="form-control" name="InputWeb" id="InputWeb" placeholder="Web Site (Optional)" >
                              </div>
                              <div class="form-group col-md-12">
                                <textarea class="form-control" name="InputMessage" id="InputMessage" rows="4" placeholder="Message" required  ></textarea>
                              </div>
                              <div class="col-md-12">
                                <button name="submit" type="submit" class="btn normal-btn dart-btn-xs">SEND MESSAGE</button>
                              </div>
                            </form>
                        </div>
                        
                        <hr>
                        
                        <div class=" row contact-info">
                        	<div class="col-md-12 col-sm-12">
                        		<p class="addre"><i class="fa fa-map-marker"></i>Cape Town, South Africa</p>
                          </div>
                          <div class="col-md-12 col-sm-12">
                        		<p class="phone-call"><i class="fa fa-phone"></i> <a href="tel:">+12 345 789 1234</a></p>
                          </div>
                          <div class="col-md-12 col-sm-12">
                        		<p class="mail-id"><i class="fa fa-envelope"></i>TheCrunchyCoder@gmail.com</p>
                          </div>
                        </div>
                        
                  </div>
              </div>                
            </div>            
        </div>
    </section> 

{% endblock content %}