{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Welcome to Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5" >
            <div class="col-lg-4">
                <img src="{%static 'images/task_image_1.jpg'%}" class="rounded-lg shadow" alt="Notes" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/task_image_2.jpg'%}" class="rounded-lg shadow" alt="Notes" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/task_image_3.jpg'%}" class="rounded-lg shadow" alt="Notes" width="360" height="250"> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center>
                <p class="h1 text-primary"> Quick And Easy to Use, Anytime, Anywhere! </p>
                <p class="h2 mt-3"> "Plan Your Day Better, Get Your Life Organized" </p>
                <p class="h5"> TASKMATE Lets You Keep Track Of Your Task In One Place. </p>
                <a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a>
                </center>         
            </div>
        </div> 
    </div>
{% endblock content %}